:host {
    inline-size: 100%;
}

h1 {
    padding-block-end: 2rem;

    font-size: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    gap: 2rem;

    inline-size: 100%;

    & > * {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;

        gap: 0.5rem;

        inline-size: 100%;
    }

    label {
        font-size: 1.5rem;
    }

    input,
    select {
        background: transparent;

        inline-size: 100%;

        padding: 0.5rem 1rem;

        border: 0.2rem solid var(--main-theme-transparent);

        border-radius: var(--border-radius-minimum);

        font-size: 1.5rem;

        &:invalid {
            border-color: var(--warning-red);
        }

        &:focus {
            border-color: var(--main-theme);
        }
    }

    >*.inputs-together {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        >*{
            inline-size: 50%;
        }
    }

    & .buttons {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        inline-size: 100%;

        padding-block-start: 2rem;

        >*.buttons-together{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;

            >*{
                block-size: 4.5rem;
            }
        }
    }

    button {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 2rem;

        inline-size: 100%;

        font-size: 1.5rem;
    }
}

.form {
    &__footer {
        padding-block-start: 3rem;

        font-size: 1.5rem;
    }
}
