.footer {
    background-color: var(--dark-ground);
    color: hsl(0deg 0% 64%);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    padding: 10px 15px 5px;

    font-size: 4rem;

    &__social {
        color: hsl(0deg 0% 100%);
        opacity: 0.5;

        text-decoration: none;

        &:hover {
            opacity: 1;
        }
    }
}
