.footer {
    color: hsl(0, 0%, 64%);
    background-color: hsl(0, 0%, 0%);
    padding: 10px 15px 5px;

    font-size: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    &__social {
        text-decoration: none;
        color: hsl(0, 0%, 100%);
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }
}
