<h1>ثبت نام</h1>
<input class="auth__input" name="username" placeholder="نام" type="text" [(ngModel)]="user.firstName" />

<input class="auth__input" name="username" placeholder="نام خانوادگی" type="text" [(ngModel)]="user.lastName" />

<input class="auth__input" name="username" placeholder="نام کاربری" type="text" [(ngModel)]="user.username" />

<input class="auth__input" name="email" placeholder="ایمیل" type="email" [(ngModel)]="user.email" />

<input class="auth__input" name="password" placeholder="رمز عبور" type="password" [(ngModel)]="user.password" />
