.header {
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 3em;
    font-size: 1.7rem;

    &__nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;

        &--left,
        &--right {
            width: auto;
            justify-content: flex-start;
        }

        &--list {
            margin: 0;
            padding: 0;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 1.5rem;

            li {
                list-style-type: none;
            }

            a {
                font-size: 2rem;
                text-decoration: none;
                color: white;
                transition: color 0.2s ease-in-out;
                &:hover {
                    color: var(--main-theme);
                }
            }
        }
    }

    &__cart {
        font-size: 2rem;
        transition: color 0.2s ease-in-out;

        &:hover {
            color: var(--main-theme);
        }
    }
}
