<header class="header">
    <nav class="header__nav">
        <div class="header__nav header__nav--right">
            <ul class="header__nav--list">
                <li>
                    <a routerLink="/" title="GameUp" class="logo-container">
                        <img class="header__logo" alt="Game-Up" src="assets/logos/logo-dark-removebg.svg" />
                    </a>
                </li>
                <li class="header__nav--link-hover"><a routerLink="/games">همه بازی‌ها</a></li>
            </ul>
            <form (submit)="search()">
                <app-search-box [(value)]="gameService.searchPhrase"></app-search-box>
            </form>
        </div>
        <div class="header__nav header__nav--left">
            <ng-container *ngIf="isLoggedIn; else notLoggedInTemplate">
                <!-- <a routerLink="#" title="سبد خرید"><i class="fa-solid fa-bookmark"></i></a> -->
                <app-profile-popper></app-profile-popper>
            </ng-container>
            <ng-template #notLoggedInTemplate>
                <ul class="header__nav--list">
                    <li class="header__nav--link-hover">
                        <a routerLink="/login" data-test-id="login-link">ورود</a>
                    </li>
                    <li class="header__nav--link-hover">
                        <a routerLink="/signup" data-test-id="signup-link">ثبت نام</a>
                    </li>
                </ul>
            </ng-template>
        </div>
    </nav>
</header>
