<header class="header">
    <nav class="header__nav">
        <div class="header__nav header__nav--right">
            <ul class="header__nav--list">
                <li>
                    <a routerLink="/" title="GameUp">
                        <img class="header__logo" src="assets/logos/logo-dark-removebg.svg" />
                    </a>
                </li>
                <li><a href="#">خانه</a></li>
                <li><a href="#">آرشیو</a></li>
            </ul>
            <app-search-box></app-search-box>
        </div>
        <div class="header__nav header__nav--left">
            <a href="#" title="cart"><i class="fa-solid fa-basket-shopping"></i></a>
            <a href="#" title="profile"><i class="fa-solid fa-user"></i></a>
        </div>
    </nav>
</header>
