<header class="header">
    <nav class="header__nav">
        <div class="header__nav header__nav--right">
            <ul class="header__nav--list">
                <li>
                    <a routerLink="/" title="GameUp" class="logo-container">
                        <img class="header__logo" src="assets/logos/logo-dark-removebg.svg" />
                    </a>
                </li>
                <li class="header__nav--link-hover"><a routerLink="#">آرشیو</a></li>
            </ul>
            <app-search-box></app-search-box>
        </div>
        <div class="header__nav header__nav--left">
            <ng-container *ngIf="isLoggedIn; else notLoggedInTemplate">
                <a routerLink="#" title="سبد خرید"><i class="fa-solid fa-basket-shopping"></i></a>
                <a routerLink="/profile" title="حساب کاربری"><i class="fa-solid fa-user"></i></a>
            </ng-container>
            <ng-template #notLoggedInTemplate>
                <ul class="header__nav--list">
                    <li class="header__nav--link-hover">
                        <a routerLink="/login">ورود</a>
                    </li>
                    <li class="header__nav--link-hover">
                        <a routerLink="/signup">ثبت نام</a>
                    </li>
                </ul>
            </ng-template>
        </div>
    </nav>
</header>
