.searchbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em;

    border-radius: 7px;
    padding: 0.1em 0.5em;
    background-color: #464646;

    &__input {
        outline: none;
        border: none;
        font-size: 1.1em;
        background: none;
        color: #fff;
        width: 40vw;
        min-width: 270px;
    }
}
