.searchbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    border-radius: 0.5em;
    padding: 0.5rem 1rem;
    background-color: hsl(0, 0%, 27%);

    &__input {
        outline: none;
        border: none;
        font-size: 1.1em;
        background: none;
        color: hsl(0, 0%, 100%);
        width: 40vw;
        min-width: 20rem;
    }
}
