.profile {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__banner {
        background: rgb(20 57 56);
        background: linear-gradient(
            45deg,
            rgb(20 57 56 / 100%) 0%,
            rgb(38 110 108 / 100%) 35%,
            rgb(179 229 227 / 100%) 100%
        );

        display: flex;
        align-items: end;
        justify-items: center;
        gap: 4rem;

        block-size: 60vh;

        padding: 5rem;

        &--avatar {
            background-color: var(--color-gray-20);
            color: var(--dark-ground);

            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;

            block-size: 20vh;
            inline-size: 20vh;

            border-radius: 50%;

            font-size: 10rem;

            text-align: center;

            #add-image-button {
                background-color: var(--dark-gray);
                color: var(--color-white-64);

                position: absolute;
                inset-block-end: 1rem;
                inset-inline-start: 1rem;

                display: flex;
                align-items: center;
                justify-content: center;

                block-size: 4rem;
                inline-size: 4rem;

                border-radius: 50%;

                font-size: 3rem;

                :hover {
                    background-color: var(--darker-gray);

                    border-radius: 50%;
                }
            }

            #add-image-input {
                display: none;
            }
        }

        &--basic-info {
            display: flex;
            flex-direction: column;

            text-align: right;
        }

        &--liked {
            display: flex;
            gap: 3rem;

            margin-inline-start: auto;

            .liked-games {
                display: flex;
                flex-direction: column;

                font-size: x-large;

                text-align: center;

                > * {
                    display: block;
                    align-items: center;
                }

                > a {
                    font-size: xxx-large;
                }
            }
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &--title {
            position: relative;

            margin-block-end: 3rem;

            font-size: 2.5rem;

            &::after {
                content: "";

                background-color: var(--main-theme);

                position: absolute;
                inset-block-start: 100%;
                inset-inline-start: 0;

                block-size: 0.7rem;

                inline-size: 60%;

                border-radius: var(--border-radius-norm);
            }
        }

        &--form {
            box-shadow: var(--shadow-slight);

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            min-inline-size: 40rem;
            inline-size: 50%;
            max-inline-size: 100%;

            margin-block-end: 2rem;

            padding: 3rem;

            border-radius: 2rem;
        }
    }
}

.larger {
    color: var(--dark-ground);

    font-size: xx-large;
    font-weight: bold;
}

.smaller {
    color: var(--shadow-gray);

    font-size: large;
}

.ltr {
    direction: ltr;
}
