<app-header></app-header>
<main class="profile">
    <div class="profile__banner">
        <div class="profile__banner--avatar">
            <div class="profile-default-image"><i class="fa-solid fa-user-large"></i></div>
            <label id="add-image-button" for="add-image-input">
                <i class="fa-solid fa-plus-large"></i>
                <input
                    name="image"
                    value=""
                    type="file"
                    alt="انتخاب تصویر جدید"
                    id="add-image-input"
                    title="تغییر تصویر کاربر"
                    accept="image/*"
                />
            </label>
        </div>
        <div class="profile__banner--basic-info">
            <div class="larger">{{ initialUser.firstName }} {{ initialUser.lastName }}</div>
            <div class="smaller ltr">@{{ initialUser.username }}</div>
        </div>
        <div class="profile__banner--liked">
            <div class="liked-games">
                <a>6</a>
                <i>بازی مورد پسند</i>
            </div>
            <div class="liked-games">
                <a>3</a>
                <i>بازی در انتظار خرید</i>
            </div>
        </div>
    </div>
    <div class="profile__body">
        <form class="profile__body--form" (submit)="submitChanges()">
            <h3 class="profile__body--title">ویرایش حساب کاربری</h3>
            <div class="inputs-together">
                <section>
                    <label>نام</label>
                    <input name="firstname" type="text" [(ngModel)]="changingUser.firstName" />
                </section>

                <section>
                    <label>نام خانوادگی</label>
                    <input name="lastname" type="text" [(ngModel)]="changingUser.lastName" />
                </section>
            </div>
            <div class="inputs-together">
                <section>
                    <label>جنسیت</label>
                    <select name="gender" [(ngModel)]="changingUser.gender">
                        <option value="0">مرد</option>
                        <option value="1">زن</option>
                    </select>
                </section>

                <section style="position: relative">
                    <label style="display: block">تاریخ تولد</label>
                    <ng-persian-datepicker
                        style="position: absolute; inset-inline: 0"
                        [dateInitValue]="false"
                        [uiTheme]="customTheme"
                        uiInitViewMode="year"
                    >
                        <input
                            name="dateOfBirth"
                            type="text"
                            [formControl]="dateValue"
                            [(ngModel)]="changingUser.dateOfBirth"
                            [value]="changingUser.dateOfBirth"
                        />
                    </ng-persian-datepicker>
                </section>
            </div>
            <section>
                <label>ایمیل</label>
                <input name="email" type="email" [(ngModel)]="changingUser.email" />
            </section>

            <section>
                <label>نام کاربری</label>
                <input name="username" type="text" [(ngModel)]="changingUser.username" />
            </section>

            <section>
                <label>شماره همراه</label>
                <input name="phone" type="tel" [(ngModel)]="changingUser.phone" />
            </section>

            <h3 class="profile__body--title">تغییر رمز عبور</h3>

            <section>
                <label>رمز کنونی</label>
                <input name="oldPassword" type="password" />
            </section>

            <section>
                <label>رمز جدید</label>
                <input name="newPassword" type="password" />
            </section>

            <section>
                <label>تکرار رمز جدید</label>
                <input name="repeatedNewPassword" type="password" />
            </section>

            <div class="buttons">
                <button class="btn btn--fill" type="submit">ذخیره تغییرات</button>
                <div class="buttons-together">
                    <button class="btn" (click)="cancel()">لغو</button>
                    <button class="btn" title="خروج از حساب" (click)="logout()">
                        <i class="fa-solid fa-right-from-bracket"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</main>
<app-footer></app-footer>
