<app-header></app-header>
<main class="profile">
    <div class="profile__banner">
        <div class="profile__banner--avatar">
            <ng-container *ngIf="!hasImage">
                <div class="profile-default-image">
                    <i class="fa-solid fa-user-large"></i>
                </div>
            </ng-container>
            <ng-container *ngIf="hasImage && selectedFiles.length === 0">
                <img alt="تصویر کاربر" [src]="initialUser.avatar" class="profile-image" />
            </ng-container>
            <ng-container *ngFor="let item of selectedFiles">
                <img alt="تصویر کاربر" [src]="item.base64" class="profile-image" />
            </ng-container>
            <label class="image-button add" for="add-image-input" title="تغییر تصویر کاربر">
                <i class="fa-solid fa-plus-large no-pointer-event"></i>
                <input
                    #file
                    id="add-image-input"
                    type="file"
                    alt="انتخاب تصویر جدید"
                    class="add-image-input"
                    accept="image/*"
                    (change)="onFileSelected(file.files)"
                />
            </label>
            <button title="حذف تصویر کاربر" class="image-button remove" (click)="removeImage()">
                <i class="fa-solid fa-multiply no-pointer-event"></i>
            </button>
        </div>
        <div class="profile__banner--basic-info">
            <div class="larger">{{ initialUser.firstName }} {{ initialUser.lastName }}</div>
            <div class="smaller ltr">@{{ initialUser.username }}</div>
        </div>
        <div class="profile__banner--liked">
            <div class="liked-games">
                <a routerLink="/favorites">{{ numberOfFavorites }}</a>
                <i>بازی مورد علاقه</i>
            </div>
            <div class="liked-games">
                <a routerLink="/wishlist">{{ numberOfWishlist }}</a>
                <i>بازی در لیست آرزو</i>
            </div>
        </div>
    </div>
    <div class="profile__body">
        <form class="profile__body--form" (submit)="submitChanges()">
            <h3 class="profile__body--title">ویرایش حساب کاربری</h3>
            <div class="inputs-together">
                <section>
                    <label for="firstnameInput">نام</label>
                    <input id="firstnameInput" name="firstname" type="text" [(ngModel)]="changingUser.firstName" />
                </section>

                <section>
                    <label for="lastnameInput">نام خانوادگی</label>
                    <input id="lastnameInput" name="lastname" type="text" [(ngModel)]="changingUser.lastName" />
                </section>
            </div>
            <div class="inputs-together">
                <section>
                    <label for="genderInput">جنسیت</label>
                    <select id="genderInput" name="gender" [(ngModel)]="changingUser.gender">
                        <option value="0">مرد</option>
                        <option value="1">زن</option>
                    </select>
                </section>

                <section style="position: relative">
                    <label for="dateOfBirthInput" style="display: block">تاریخ تولد</label>
                    <ng-persian-datepicker
                        id="dateOfBirthInput"
                        style="position: absolute; inset-inline: 0"
                        [dateInitValue]="false"
                        [uiTheme]="customTheme"
                        uiInitViewMode="year"
                        (dateOnSelect)="changingUser.dateOfBirth = $event.shamsi"
                    >
                        <input
                            name="dateOfBirth"
                            type="text"
                            [ngModel]="changingUser.dateOfBirth"
                            [formControl]="dateValue"
                        />
                    </ng-persian-datepicker>
                </section>
            </div>
            <section>
                <label for="emailInput">ایمیل</label>
                <input id="emailInput" name="email" type="email" [(ngModel)]="changingUser.email" />
            </section>

            <section>
                <label for="usernameInput">نام کاربری</label>
                <input id="usernameInput" name="username" type="text" [(ngModel)]="changingUser.username" />
            </section>

            <section>
                <label for="phoneInput">شماره همراه</label>
                <input id="phoneInput" name="phone" type="tel" [(ngModel)]="changingUser.phone" />
            </section>

            <h3 class="profile__body--title">تغییر رمز عبور</h3>

            <section>
                <label for="oldPasswordInput">رمز کنونی</label>
                <input id="oldPasswordInput" name="oldPassword" type="password" [(ngModel)]="oldPassword" />
            </section>

            <section>
                <label for="newPasswordInput">رمز جدید</label>
                <input id="newPasswordInput" name="newPassword" type="password" [(ngModel)]="newPassword" />
            </section>

            <section>
                <label for="repeatedPasswordInput">تکرار رمز جدید</label>
                <input
                    id="repeatedPasswordInput"
                    name="repeatedNewPassword"
                    type="password"
                    [(ngModel)]="repeatedPassword"
                />
            </section>

            <div class="buttons">
                <button class="btn btn--fill" type="submit">ذخیره تغییرات</button>
                <div class="buttons-together">
                    <button class="btn" (click)="cancel()">لغو</button>
                    <button class="btn" title="خروج از حساب" (click)="logout()">
                        <i class="fa-solid fa-right-from-bracket"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</main>
<app-footer></app-footer>
