<app-header></app-header>
<main class="profile">
    <div class="profile__banner">
        <div class="profile__banner--avatar">
            <ng-container *ngIf="!hasImage">
                <div class="profile-default-image">
                    <i class="fa-solid fa-user-large"></i>
                </div>
            </ng-container>
            <ng-container *ngIf="hasImage && selectedFiles.length === 0">
                <img alt="تصویر کاربر" [src]="initialUser.avatar" class="profile-image" />
            </ng-container>
            <ng-container *ngFor="let item of selectedFiles">
                <img alt="تصویر کاربر" [src]="item.base64" class="profile-image" />
            </ng-container>
            <label class="image-button add" for="add-image-input" title="تغییر تصویر کاربر">
                <i class="fa-solid fa-plus-large no-pointer-event"></i>
                <input
                    #file
                    id="add-image-input"
                    type="file"
                    alt="انتخاب تصویر جدید"
                    class="add-image-input"
                    accept="image/*"
                    (change)="onFileSelected(file.files)"
                />
            </label>
            <button title="حذف تصویر کاربر" class="image-button remove" (click)="removeImage()">
                <i class="fa-solid fa-multiply no-pointer-event"></i>
            </button>
        </div>
        <div class="profile__banner--basic-info">
            <div class="larger">{{ initialUser.firstName }} {{ initialUser.lastName }}</div>
            <div class="smaller ltr">@{{ initialUser.username }}</div>
        </div>
        <div class="profile__banner--liked">
            <div class="liked-games">
                <a routerLink="/favorites">{{ numberOfFavorites }}</a>
                <i>بازی مورد علاقه</i>
            </div>
            <div class="liked-games">
                <a routerLink="/wishlist">{{ numberOfWishlist }}</a>
                <i>بازی در لیست آرزوها</i>
            </div>
        </div>
    </div>
    <div class="profile__body">
        <form class="profile__body--form" (submit)="submitEditProfile()">
            <h3 class="profile__body--title">ویرایش حساب کاربری</h3>
            <div class="inputs-together">
                <section>
                    <label for="firstname-input">نام</label>
                    <input id="firstname-input" name="firstname" type="text" [(ngModel)]="changingUser.firstName" />
                </section>

                <section>
                    <label for="lastname-input">نام خانوادگی</label>
                    <input id="lastname-input" name="lastname" type="text" [(ngModel)]="changingUser.lastName" />
                </section>
            </div>
            <div class="inputs-together">
                <section>
                    <label for="gender-input">جنسیت</label>
                    <select id="gender-input" name="gender" [(ngModel)]="changingUser.gender">
                        <option [value]="male">مرد</option>
                        <option [value]="female">زن</option>
                    </select>
                </section>

                <section class="relative">
                    <label class="block-label" for="date-of-birth-input">تاریخ تولد</label>
                    <ng-persian-datepicker
                        id="date-of-birth-input"
                        [dateInitValue]="false"
                        [uiTheme]="customTheme"
                        uiInitViewMode="year"
                    >
                        <input
                            name="dateOfBirth"
                            type="text"
                            [(ngModel)]="dateOfBirthInput"
                            [formControl]="dateValue"
                        />
                    </ng-persian-datepicker>
                </section>
            </div>
            <section>
                <label for="email-input">ایمیل</label>
                <input id="email-input" name="email" type="email" [(ngModel)]="changingUser.email" />
            </section>

            <section>
                <label for="username-input">نام کاربری</label>
                <input id="username-input" name="username" type="text" [(ngModel)]="changingUser.username" />
            </section>

            <section>
                <label for="phone-input">شماره همراه</label>
                <input id="phone-input" name="phone" type="tel" [(ngModel)]="changingUser.phone" />
            </section>
            <div class="buttons">
                <div class="buttons-together">
                    <button class="btn btn--fill" type="submit">ذخیره تغییرات</button>
                    <button class="btn" (click)="cancel()">لغو</button>
                </div>
            </div>
        </form>
        <form class="profile__body--form" (submit)="submitEditPassword()">
            <h3 class="profile__body--title">تغییر رمز عبور</h3>

            <section>
                <label for="old-password-input">رمز کنونی</label>
                <input id="old-password-input" name="oldPassword" type="password" [(ngModel)]="oldPassword" />
            </section>

            <section>
                <label for="new-password-input">رمز جدید</label>
                <input id="new-password-input" name="newPassword" type="password" [(ngModel)]="newPassword" />
            </section>

            <div class="buttons">
                <div class="buttons-together">
                    <button class="btn btn--fill" type="submit">به‌روزرسانی رمز عبور</button>
                    <button class="btn" (click)="cancel()">لغو</button>
                </div>
            </div>
        </form>
    </div>
</main>
<app-footer></app-footer>
