.card {
    --info-offset: 82%;

    box-shadow: var(--shadow-slight);

    position: relative;
    overflow: hidden;

    block-size: 35rem;

    inline-size: 25rem;

    border-radius: var(--border-radius-norm);

    &:hover {
        .card {
            &__info {
                transform: translateY(calc(-1 * var(--info-offset)));
            }
        }
    }

    &__img {
        block-size: auto;
        inline-size: 100%;
        object-fit: cover;
    }

    &__info {
        background-color: var(--color-white-transparent);

        position: absolute;
        inset-block-start: var(--info-offset);

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        block-size: 100%;
        inline-size: 100%;

        padding: 0.3em 1em 1em;

        transition: transform 0.3s ease-out;

        &--container {
            overflow: hidden;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            inline-size: 100%;
        }
    }

    &__title {
        align-self: flex-end;

        color: var(--main-theme);

        direction: ltr;

        overflow: hidden;

        inline-size: 100%;

        font-size: 2rem;
        font-weight: 500;

        text-overflow: ellipsis;

        white-space: nowrap;
    }

    &__price {
        color: var(--solid-black);

        font-size: 1.7rem;
    }

    &__desc {
        color: var(--solid-black);

        direction: ltr;

        overflow: hidden;

        display: -webkit-box;

        min-block-size: 0;

        padding-block-start: 3rem;

        font-size: 1.7rem;

        text-overflow: ellipsis;

        word-wrap: normal;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }

    &__control {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
    }
}
