.card {
    position: relative;
    overflow: hidden;
    width: 30rem;
    height: 40rem;
    background-color: hsl(0, 0%, 0%);
    border-radius: 10px;
    box-shadow: hsla(0, 0%, 0%, 0.677) 0 0 10px 5px;

    &:hover {
        .card__info {
            transform: translateY(-80%);
        }
    }

    &__img {
        object-fit: cover;
        width: 100%;
        height: auto;
    }

    &__info {
        padding: 0.3em 1em 1em;
        position: absolute;
        inset-block-start: 80%;
        width: 100%;
        height: 100%;
        background-color: hsla(0, 0%, 80%, 0.873);

        transition: transform 0.3s ease-out;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        &--container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            overflow: hidden;
            min-width: 0;
        }
    }

    &__title {
        direction: ltr;
        align-self: flex-end;
        margin: 0;
        font-size: 2.5rem;
        color: var(--main-theme);
        min-height: 0;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
    }

    &__price {
        margin: 0;
        font-size: 2.3rem;
        color: black;
    }

    &__desc {
        font-size: 2.3rem;
        line-height: 3.5rem;
        text-align: justify;
        min-height: 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
        overflow: hidden;
        text-overflow: ellipsis;
        color: black;
    }

    &__control {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
    }
}
