.card {
    &__container {
        position: relative;
        overflow: hidden;
        width: 17.5em;
        height: 25em;
        background-color: black;
        border-radius: 1em;
        box-shadow: rgba(0, 0, 0, 0.677) 0.3125em 0.3125em 0.625em 0.3125em;

        &:hover {
            .card__info {
                top: 0;
            }
        }
    }

    &__img {
        object-fit: cover;
        width: 100%;
        height: auto;
    }

    &__info {
        padding: 0.3em 1em 1em;
        position: absolute;
        top: calc(100% - 5rem);
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(204, 204, 204, 0.873);

        transition: all 0.3s ease-out;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        &--container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            overflow: hidden;
            min-width: 0;
        }
    }

    &__title {
        direction: ltr;
        margin: 0;
        font-size: 1.6rem;
        color: hsl(345, 68%, 45%);
        min-height: 0;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
    }

    &__price {
        margin: 0;
        font-size: 1.2rem;
        color: black;
    }

    &__desc {
        font-size: 1.3rem;
        line-height: 2.3rem;
        text-align: justify;
        min-height: 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
        overflow: hidden;
        text-overflow: ellipsis;
        color: black;
    }

    &__control {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
    }
}
