<div class="card">
    <img class="card__img" [src]="game.src" [alt]="game.name" loading="lazy" />
    <div class="card__info">
        <div class="card__info--container">
            <a [routerLink]="'/game/' + game.id" class="card__title">{{ game.name }}</a>
            <p class="card__rating"><i class="fa-solid fa-star"></i>{{ game.rating }}</p>
            <p class="card__desc">{{ game.summary }}</p>
        </div>
        <div class="card__control">
            <button
                *ngIf="gameService.isInFavorites(game.id); else unfavorited"
                class="btn btn--fill warning"
                (click)="gameService.removeFromFavorites(game.id)"
            >
                <i class="fa-solid fa-heart"></i>
            </button>
            <ng-template #unfavorited>
                <button class="btn btn--fill" (click)="gameService.addToFavorites(game.id)">
                    <i class="fa-solid fa-heart"></i>
                </button>
            </ng-template>
            <button
                *ngIf="gameService.isInWishlist(game.id); else unwishlisted"
                class="btn warning"
                (click)="gameService.removeFromWishlist(game.id)"
            >
                <i class="fa-solid fa-bookmark"></i>
            </button>

            <ng-template #unwishlisted>
                <button class="btn" (click)="gameService.addToWishlist(game.id)">
                    <i class="fa-solid fa-bookmark"></i>
                </button>
            </ng-template>
        </div>
    </div>
</div>
