.textfield {
    &__input {
        background: none;

        width: 100%;

        border: none;
        border-bottom: 0.25rem solid var(--main-theme);

        outline: none;

        font-size: 1.5rem;
    }
}
