<app-header></app-header>

<main class="game__wrapper">
    <section class="game__head">
        <div class="game__cover">
            <img [src]="data.cover?.id | imageSource" />
        </div>
        <div class="game__init">
            <h1>{{ data.name }}</h1>
            <p>{{ data.summary }}</p>
            <div class="game__rating">
                <span class="rate__score">{{ data.rating }}</span>
                <span class="rate__count">{{ data.ratingCount }}</span>
            </div>
            <div class="game__buttons">
                <button class="btn btn--fill"><i class="fa-solid fa-heart"></i>افزودن به علاقه‌مندی‌ها</button>
                <button class="btn" (click)="gameService.addToWishlist(data.id)">
                    <i class="fa-solid fa-bookmark"></i>افزودن به لیست آرزو‌ها
                </button>
            </div>
        </div>
    </section>
</main>

<app-footer></app-footer>
