.game {
    display: flex;

    padding: 1rem;

    .column {
        display: flex;
        flex-direction: column;
    }

    .row {
        display: flex;
        flex-direction: row;
    }

    &__overview {
        inline-size: 70vw;

        .title-container {
            direction: ltr;

            block-size: 10rem;

            font-size: 4rem;
        }

        .rating-container {
            .rating-star-container {
                gap: 0.1rem;

                font-size: 3rem;

                .gray-star {
                    color: var(--shadow-gray);
                }

                .gold-star {
                    color: hsl(43deg 74% 49%);
                }
            }

            .rating-score-container {
                font-size: 3rem;
            }
        }

        .screenshot-container {
            .large-screenshot {
                block-size: 65vh;
                inline-size: 100%;

                border: 1px var(--color-gray-20);
                border-radius: 0.2rem;

            }

            .thumbnail-container {
            }
        }

        .storyline-container {
        }

        .summary-container {
        }
    }

    &__detail {
        inline-size: 30vw;

        .cover-container {
            padding: 1rem;
            justify-content: center;
            &>* {
                border-radius: 0.1rem;
            }
        }

        .buttons-container {
            gap: 1rem;
            block-size: 6rem;
            & > * {
                inline-size: 50%;
            }
        }

        .genres-container {
            block-size: 7rem;

            border-block: 1px var(--color-gray-20);
        }

        .platforms-container {
            block-size: 7rem;

            border-block: 1px var(--color-gray-20);
        }
    }
}
