.slideshow {
  position: relative;
  // height: 70vh;
  ol {
    overflow: hidden;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    li {
      width: 100%;
      height: 40rem;
      flex: 0 0 100%;
      list-style: none;
      transform: translateX(calc(var(--active-index) * 100%));

      transition: transform 0.8s ease-in-out;

      img {
        width: 100%;
        height: inherit;
        object-fit: cover;
        border-radius: 1.5rem;
      }
    }
  }

  .overlay {
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 0;
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 2rem;

    padding: 2rem;
  }

  .banner-description {
    width: 30rem;
    color: hsl(0, 0%, 93%);
    font-size: 2rem;
    font-weight: bold;
    text-shadow: -0.07rem 0.07rem hsl(0, 6%, 18%);
    -webkit-text-stroke: 0.007rem hsl(0, 6%, 18%);
    text-justify: inter-word;
  }

  &:hover {
    .overlay .controls {
      opacity: 1;
    }
  }
}
