<div class="slideshow" [style.--active-index]="activeIndex">
    <ol>
        <li *ngFor="let banner of banners; index as index" [class.active]="index === activeIndex">
            <img [src]="banner['Image-address']" [alt]="banner.alt" />
            <div class="overlay">
                <div class="banner-description">
                    {{ banner.description }}
                </div>
                <button class="btn btn--fill free-play-btn">امروز رایگان بازی کنید!</button>
            </div>
        </li>
    </ol>
<!--    <div class="bullets">-->
<!--        <i *ngFor="let _ of banners; index as index" [class.active]="index === activeIndex"></i>-->
<!--    </div>-->
</div>
