<!--<div>-->
<!--    logo-->
<!--</div>-->
<div class="slideshow" [style.--active-index]="activeIndex">
    <ol>
        <li *ngFor="let banner of banners; index as index" [class.active]="index === activeIndex">
            <img [src]="banner['Image-address']" [alt]=banner.alt/>
            <div class="overlay">
                <div>
                    {{banner.description}}
                </div>
                <button>
                    free-play
                </button>
            </div>
        </li>
    </ol>
</div>