.home {
  &__main {
    display: flex;
    flex-direction: column;
    gap: 10rem;

    width: 100%;

    padding: 2em 3em;
  }

  &__section {
    width: 100%;

    &--title {
      position: relative;

      margin-bottom: 3rem;

      font-size: 3rem;

      &::after {
        content: "";

        background-color: var(--main-theme);

        position: absolute;
        top: 100%;
        right: 0;

        width: 8em;
        height: 0.7rem;

        border-radius: 2px;
      }
    }
  }
}

.larger {
  font-size: 4rem;
}

.content-wrapper {
  overflow: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 4rem;

  padding: 1em 1.5em;
}
