.toast {
    --background: var(--warning-red);

    &__container {
        background-color: var(--background);

        color: var(--light-ground);

        position: absolute;

        inset-block-start: 3rem;
        inset-inline-start: 3rem;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-between;
        gap: 3rem;

        width: 40rem;

        padding: 1rem;

        border-radius: 0.5rem;

        font-size: 1.5rem;
    }

    &__button {
        all: unset;

        font-size: 1.5rem;

        cursor: pointer;
    }
}
