<button [popper]="popperContent" [popperPlacement]="NgxPopperjsPlacements.BOTTOMSTART" class="popper__button">
    <i class="fa-solid fa-user"></i>
    <i class="fa-solid fa-angle-down"></i>
</button>

<popper-content #popperContent>
    <div class="popper__list">
        <a routerLink="/profile"><i class="fa-solid fa-user"></i>پروفایل کاربری</a>
        <a routerLink="/wishlist"><i class="fa-solid fa-bookmark"></i>لیست آرزو‌ها</a>
        <a routerLink="/favorites"><i class="fa-solid fa-heart"></i>علاقه‌مندی‌ها</a>
        <button (click)="logout()" class="logout-popper">
            <i class="fa-solid fa-right-from-bracket"></i>خروج از حساب کاربری
        </button>
    </div>
</popper-content>
