/* You can add global styles to this file, and also import other style files */
$main-theme: #bf254b;
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Vazirmatn, sans-serif;
    background-color: #322c2c;
    color: #fff;
}

.btn {
    font-size: 1.5rem;
    padding: 5px 10px;
    outline: none;
    border: 2px solid $main-theme;
    border-radius: 5px;
    background: rgb(231, 231, 231);
    color: $main-theme;
    cursor: pointer;

    &:hover {
        background-color: $main-theme;
        color: rgb(231, 231, 231);
    }

    &--fill {
        background-color: $main-theme;
        color: rgb(231, 231, 231);

        &:hover {
            background: rgb(231, 231, 231);
            color: $main-theme;
        }
    }
}
