:root {
    --color-white-100: hsl(0deg 0% 100%);
    --color-white-96: hsl(0deg 0% 96%);
    --color-white-64: hsl(0deg 0% 64%);

    --color-white-transparent: hsl(192deg 12% 92% / 91.8%);

    --main-theme: hsl(178deg 49% 29%);
    --dark-ground: hsl(190deg 9% 14%);

    --warning-red: hsl(0deg 63% 46%);
    --info-green: hsl(113deg 74% 39%);

    --shadow-gray: hsl(0deg 0% 20% / 45%);
    --solid-black: hsl(0deg 0% 0%);

    --shadow-slight: var(--shadow-gray) 0 0 0.5rem 0.1rem;
}

html {
    font-family: Vazirmatn, monospace, sans-serif;
    font-size: 62.5%;
}

input,
button {
    outline: none;

    font-family: Vazirmatn, monospace, sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-white-96);
    color: var(--solid-black);
}

.btn {
    background-color: var(--color-white-96);
    color: var(--main-theme);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.8rem 1rem;

    border: 0.2rem solid var(--main-theme);
    border-radius: 1rem;

    font-size: 2rem;

    text-align: center;
    line-height: 1.5;
    vertical-align: middle;

    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
    }

    &:hover {
        background-color: var(--main-theme);
        color: var(--color-white-96);
    }

    &--fill {
        background-color: var(--main-theme);
        color: var(--color-white-96);

        &:hover {
            background-color: var(--color-white-96);
            color: var(--main-theme);
        }
    }
}
