:root {
    --color-white-100: hsl(0deg 0% 100%);
    --color-white-96: hsl(0deg 0% 96%);
    --color-white-64: hsl(0deg 0% 64%);

    --color-white-transparent: hsl(192deg 12% 92% / 91.8%);

    --main-theme: hsl(186deg 70% 37%);
    --main-theme-transparent: hsl(178deg 49% 29% / 60%);

    --dark-ground: hsl(190deg 9% 14%);

    --warning-red: hsl(0deg 63% 46%);
    --info-green: hsl(113deg 74% 39%);

    --shadow-gray: hsl(0deg 0% 20% / 45%);
    --color-gray-20: hsl(0deg 0% 20% / 20%);
    --solid-black: hsl(0deg 0% 0%);

    --dark-gray: hsl(0deg 0% 49%);
    --darker-gray: hsl(0deg 0% 16%);

    --shadow-slight: var(--shadow-gray) 0 0 0.5rem 0.1rem;

    --border-radius-minimum: 0.3rem;
    --border-radius-norm: 0.5rem;
}

html {
    font-family: Vazirmatn, monospace, sans-serif;
    font-size: 62.5%;
}

input,
button {
    border: none;

    outline: none;

    font-family: Vazirmatn, monospace, sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-white-96);
    color: var(--solid-black);

    popper-content {
        /* stylelint-disable selector-class-pattern */
        .ngxp__container {
            background-color: var(--color-white-100);
            color: var(--solid-black);
            box-shadow: var(--shadow-slight);

            z-index: 1;

            padding: 0;

            border: 0;

            > .ngxp__arrow {
                &::before {
                    background-color: var(--color-body-background);
                }
            }
        }

        &.no-arrow {
            .ngxp__container > .ngxp__arrow {
                display: none;
            }
        }
        /* stylelint-enable selector-class-pattern */
    }
}

.btn {
    --button-color: var(--main-theme);
    background-color: var(--color-white-96);
    color: var(--button-color);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    padding: 0.8rem 1rem;

    border: 0.2rem solid var(--button-color);
    border-radius: var(--border-radius-norm);

    font-size: 2rem;

    text-align: center;
    line-height: 1.5;
    vertical-align: middle;

    cursor: pointer;

    &.warning {
        --button-color: var(--warning-red);
    }

    &:disabled {
        cursor: not-allowed;
    }

    &:hover {
        background-color: var(--button-color);
        color: var(--color-white-96);
    }

    &--fill {
        background-color: var(--button-color);
        color: var(--color-white-96);

        &:hover {
            background-color: var(--color-white-96);
            color: var(--button-color);
        }
    }
}
