<app-header></app-header>
<main class="profile">
    <div class="profile__banner">
        <div class="profile__banner--avatar">
            <div class="profile-default-image"><i class="fa-solid fa-user-large"></i></div>
        </div>
        <div class="profile__banner--basic-info">
            <div class="larger">محمد محمدی</div>
            <div class="smaller ltr">@mohammadi1380</div>
            <button class="btn btn--fill" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i></button>
        </div>
        <div class="profile__banner--liked">
            <div class="liked-games">
                <a>6</a>
                <i>بازی مورد پسند</i>
            </div>
            <div class="liked-games">
                <a>3</a>
                <i>بازی در انتظار خرید</i>
            </div>
        </div>
    </div>
    <div class="profile__body">
        <form class="profile__body--form" (submit)="saveChanges()">
            <h3 class="profile__body--title">ویرایش حساب کاربری</h3>
            <div class="inputs-together">
                <section>
                    <label>نام</label>
                    <input name="username" type="text" [(ngModel)]="user.firstName" />
                </section>

                <section>
                    <label>نام خانوادگی</label>
                    <input name="password" type="text" [(ngModel)]="user.lastName" />
                </section>
            </div>
            <div class="inputs-together">
                <section>
                    <label>جنسیت</label>
                    <select name="gender" [(ngModel)]="user.gender">
                        <option value="none" selected>نامشخص</option>
                        <option value="male">مرد</option>
                        <option value="female">زن</option>
                    </select>
                </section>

                <section>
                    <label>تاریخ تولد</label>
                    <input name="password" type="date" [(ngModel)]="user.birthDate" />
                </section>
            </div>
            <section>
                <label>ایمیل</label>
                <input name="password" type="email" [(ngModel)]="user.email" />
            </section>

            <section>
                <label>نام کاربری</label>
                <input name="password" type="text" [(ngModel)]="user.username" />
            </section>

            <section>
                <label>شماره همراه</label>
                <input name="password" type="tel" [(ngModel)]="user.phoneNumber" />
            </section>

            <h3 class="profile__body--title">تغییر رمز عبور</h3>

            <section>
                <label>رمز کنونی</label>
                <input name="password" type="password" />
            </section>

            <section>
                <label>رمز جدید</label>
                <input name="password" type="password" />
            </section>

            <section>
                <label>تکرار رمز جدید</label>
                <input name="password" type="password" />
            </section>

            <div class="buttons">
                <button class="btn btn--fill" type="submit">ذخیره تغییرات</button>
                <button class="btn" (click)="cancel()">لغو</button>
            </div>
        </form>
    </div>
</main>
<app-footer></app-footer>
